<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GestionClefs.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <GestionClefs.My.MySettings>
      <setting name="MySQL_Database" serializeAs="String">
        <value>key_manager</value>
      </setting>
      <setting name="MySQL_ID" serializeAs="String">
        <value>keymanager</value>
      </setting>
      <setting name="MySQL_Password" serializeAs="String">
        <value>C0utras33</value>
      </setting>
      <setting name="MySQL_Serveur" serializeAs="String">
        <value>192.168.0.244</value>
      </setting>
      <setting name="ShowAlert" serializeAs="String">
        <value>True</value>
      </setting>
    </GestionClefs.My.MySettings>
  </userSettings>
</configuration>